{
    "extends": [
      "eslint:recommended",
      "plugin:mdx/recommended"
    ],
    "overrides": [
      {
        "files": ["*.mdx"],
        "extends": ["plugin:mdx/recommended"],
        "rules": {
          // Add other rules as warnings or turn them off
          "no-unused-vars": "warn",
          "no-console": "warn"
        }
      }
    ]
  }
