openapi: 3.0.3
servers:
  - url: https://api.sensible.so/v0
    description: Production server (uses live data)


info:
  title: Fill Template Document API
  description: Generate a PDF filled with the specified data.

  version: '1.0.0'

tags:
  - name: Docgen
    description: "Generate documents filled with data"
  - name: Portfolio

paths:
  /generate/{generator}/{mapping}:
    post:
      summary: Fill template document
      operationId: fill-document
      tags:
        - Docgen
      description: |
        Generates a completed PDF document from a fillable PDF template using the JSON data you provide in the request. For more information, see [Document generation introduction](/beta/document-generation-intro).
      parameters:
        - name: generator
          in: path
          required: true
          schema:
            type: string
          description: The generator name you communicated to Sensible customer support. Create a name that shows the general type of document you want to generate, for example, rate_confirmation, certificate_of_insurance, or home_inspection_report.
        - name: mapping
          in: path
          required: true
          schema:
            type: string
          description: The name of the json mapping you wrote and handed off to Sensible customer support.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: "The json data to fill the mapping you wrote, which is used to populate the new document."
              example:
                {

                    "customer": {
                      "first_name": "John",
                      "last_name": "Doe",
                      "birth_date": "06/24/1979"
                    },

                    "addresses": [{
                        "street_address": "111 Center Street",
                        "zip_code": "78123"
                      },
                      {
                        "street_address": "123 Main Street",
                        "zip_code": "78125"
                      }
                    ],
                    "contract": {
                      "start_date": "01/01/2022"
                    }
                }

      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  download_url:
                    type: string
        '400':
          description: Bad request
